@import url('https://fonts.googleapis.com/css?family=Damion');

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
  background-color: rgba(7, 21, 143, 0.809);
  border-bottom: 10px solid rgb(82, 55, 177);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.search-bar {
  margin: 0 auto;
}

.logo-title {
  position: relative;
  margin-top: -1.5em;
  font-family: 'Damion', Helvetica, Arial, Helvetica, sans-serif;
  font-size: 50px;
  top: 1.5em;
  z-index: 2;
}

div.logo-title:link{
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

div.logo-title {
  color: white;
  text-decoration: none
}

@media all and (max-width: 900px) {
  .header {
    grid-template-columns: auto;
    grid-row-gap: 20px;
  }
  .logo-title {
    margin-top: -1em;
  }
}

@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all .5s ease;
}
.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn--stripe {
  overflow: hidden;
  position: relative;
}
.btn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}
.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}