.update-container {
  display: inline-block;
  margin: 0 auto;
}

#overlay{
  position: absolute;
  display: none;
  background-color: rgba(0,0,0,0.7);
  z-index: 5;
  height: 150vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
#form-update {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #0ea8ec;
  width: 400px;
  padding: 2rem 2rem 2rem 2rem;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%,  -50%);
  box-sizing: border-box;
  z-index: 7;
}
#form-update::after {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#form-update::after {
  background: #0ea8ec;
  z-index: -2;
  -webkit-transform: translateX(-2rem) translateY(-2.25rem);
          transform: translateX(-2rem) translateY(-2.25rem);
}
#form-update h1 {
  text-align: center;
  margin: 0 0 0.25rem 0;
  padding: 0;
  font-size: 1.5rem;
}
#form-update:focus-within {
  background: #0ea8ec;
}
#form-update:focus-within::before {
  width: 0%;
  height: 0%;
  -webkit-transform: translatex(0px) translatey(0px);
          transform: translatex(0px) translatey(0px);
}
#form-update .field-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  margin-bottom: 1em;
}
#form-update label,
#form-update input {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
#form-update label {
  opacity: 0;
}
#form-update input {
  padding: 10px 20px;
  border: 4px solid white;
  margin: 0 1.5rem;
  background-color: transparent !important;
  -webkit-appearance: none;
  color: white;
}
#form-update input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px #0ea8ec inset;
  -webkit-text-fill-color: white !important;
}
#form-update input::-webkit-input-placeholder {
  color: white;
}
#form-update input:-ms-input-placeholder {
  color: white;
}
#form-update input::-ms-input-placeholder {
  color: white;
}
#form-update input::placeholder {
  color: white;
}
#form-update input:focus {
  color: #0e39fe;
  font-weight: bold;
  outline: 0;
  border: 6px solid #0e39fe;
}
#form-update input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: inherit;
  transition: inherit;
}
#form-update input:focus::-webkit-input-placeholder {
  opacity: 0;
}
#form-update button {
  border: none;
  padding: 0.85rem 1rem;
  margin-top: 2rem;
  background-color: #0e39fe;
  color: white;
  font-size: 0.75rem;
  text-transform: uppercase;
  width: 65%;
  position: absolute;
  bottom: -20px;
  right: 18%;
  letter-spacing: 0.15em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#form-update button:hover {
  border: 6px solid #090c9b;
}

#message {
  font-family: 'Damion', Helvetica, Arial, Helvetica, sans-serif;
  font-size: 30px;
}

/*  */
/* 
@font-face{
  font-family: 'Plain-Light';
  src: url('../styles/fonts/Plain-Light.otf') format('opentype')
}



.loginbox{
  width: 320px;
  height: 360px;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%,  -50%);
  box-sizing: border-box;
  border-radius: 3%;
  font-family: 'Plain-Light', sans-serif;
  z-index: 7;
}
.loginbox > h1{
  color: #fff;
  margin: 0;
  padding: 0 0 0px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 13px;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #bdc3c7;
  background: transparent;
  outline: none;
  height: 20px;
  font-size: 16px;
  opacity: 1;
  color: #ccc;
}


.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #2ecc71;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 15px;
  font-family: 'Open Sans', sans-serif;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #27ae60;
  color: #fff;
  
}

.loginbox a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.loginbox a:hover {
  color: #fff;
  opacity: 1;
}

#text-account {
  font-size: 14px;
  color: #fff;
  opacity: 0.4;
}

#create-account:hover {
  text-decoration: underline;
  font-weight: bold;
}

#reg{
font-family: 'Plain-Light', sans-serif;
} */
